In [75]:
import pandas as pd
# Pandas makes data manipulation, cleaning, exploration, and transformation super easy using two primary data structures:

### Series
1D labeled array (like a column)
### DataFrame
2D labeled table (like Excel sheet or SQL table)

In [76]:
data = pd.Series([10, 20, 30], name="Scores")
data = pd.DataFrame({
    "Name": ["Alice", "Bob", "Charlie"],
    "Age": [25, 30, 35],
    "Gender": ["F", "M", "M"]
})

In [77]:
df = pd.read_csv('data.csv')
ds = pd.read_excel('data.xls')

## üìò `df.to_csv('output.csv', index=False)`

This line **saves your DataFrame** to a CSV (Comma-Separated Values) file.

---

### üîç Parameter Breakdown:

```python
df.to_csv('output.csv', index=False)
```

| Part           | Meaning                                           |
| -------------- | ------------------------------------------------- |
| `df`           | The DataFrame you want to save                    |
| `.to_csv()`    | Pandas method to export to CSV format             |
| `'output.csv'` | Name of the file to save (can include path too)   |
| `index=False`  | Don‚Äôt write row indices (0, 1, 2,...) to the file |

---

### üß™ Example:

```python
import pandas as pd

df = pd.DataFrame({
    'Name': ['Alice', 'Bob'],
    'Age': [25, 30]
})

df.to_csv('output.csv', index=False)
```

‚úÖ This creates a file named `output.csv` with:

```
Name,Age
Alice,25
Bob,30
```

If you **omit `index=False`**, it will look like this:

```
,Name,Age
0,Alice,25
1,Bob,30
```

> The extra column `0`, `1` is the **row index**.

---

### ‚úÖ When to Use `index=False`?

* In most **real-world datasets**, we don‚Äôt want the index column unless it's meaningful (like a custom ID).
* So `index=False` is typically used to avoid clutter in exported files.

---

### üîÅ Reverse Operation (Loading the CSV):

```python
df_new = pd.read_csv('output.csv')
```

In [78]:
dset = pd.DataFrame({
    'Name': ['Alice', 'Bob'],
    'Age': [25, 30]
})

dset.to_csv('output.csv', index=False)

In [79]:
print(df.head(5))                # First 5 rows
print(df.tail(3))                # Last 3 rows
print(df.shape)                  # (rows, columns)
print(df.columns)                # List of column names
print(df.info())                 # Data types, non-nulls
print(df.describe())             # Summary statistics
print(df.dtypes)                 # Data types

   Duration          Date  Pulse  Maxpulse  Calories
0        60  '2020/12/01'    110       130     409.1
1        60  '2020/12/02'    117       145     479.0
2        60  '2020/12/03'    103       135     340.0
3        45  '2020/12/04'    109       175     282.4
4        45  '2020/12/05'    117       148     406.0
    Duration          Date  Pulse  Maxpulse  Calories
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0
(32, 5)
Index(['Duration', 'Date', 'Pulse', 'Maxpulse', 'Calories'], dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  32 non-null     int64
 1   Date      31 non-null     object
 2   Pulse     32 non-null     int64
 3   Maxpulse  32 non-null     int64
 4   Calories  30 non-null     float64
dtypes: float64(1), int64(3), object(1)
memory usage: 1.4+ KB
None
         Duration       Pulse    Maxpulse    Calories
count   32.000000   32.000000   32.000000   30.000000
mean    68.437500  103.500000  128.500000  304.680000
std     70.039591    7.832933   12.998759   66.003779
min     30.000000   90.000000  101.000000  195.100000
25%     60.000000  100.000000  120.000000  250.700000
50%     60.000000  102.500000  127.500000  291.200000
75%     60.000000  106.500000  132.250000  343.975000
max    450.000000  130.000000  175.000000  479.000000
Duration      int64
Date         object
Pulse         int64
Maxpulse      int64
Calories    float64
dtype: object

In [80]:
# Accessing rows and columns
print(df['Pulse'])
print(df['Pulse'][0:5])
print(df[['Pulse', 'Calories']])     # Select multiple columns
print(df.iloc[0])               # Row by index
print(df.iloc[0:2])             # Slicing rows
print(df.loc[2, 'Date'])    # parameter: row, col -> accessing an element at individual location

0     110
1     117
2     103
3     109
4     117
5     102
6     110
7     104
8     109
9      98
10    103
11    100
12    100
13    106
14    104
15     98
16     98
17    100
18     90
19    103
20     97
21    108
22    100
23    130
24    105
25    102
26    100
27     92
28    103
29    100
30    102
31     92
Name: Pulse, dtype: int64
0    110
1    117
2    103
3    109
4    117
Name: Pulse, dtype: int64
    Pulse  Calories
0     110     409.1
1     117     479.0
2     103     340.0
3     109     282.4
4     117     406.0
5     102     300.0
6     110     374.0
7     104     253.3
8     109     195.1
9      98     269.0
10    103     329.3
11    100     250.7
12    100     250.7
13    106     345.3
14    104     379.3
15     98     275.0
16     98     215.2
17    100     300.0
18     90       NaN
19    103     323.0
20     97     243.0
21    108     364.2
22    100     282.0
23    130     300.0
24    105     246.0
25    102     334.5
26    100     250.0
27     92     241.0
28    103       NaN
29    100     280.0
30    102     380.3
31     92     243.0
Duration              60
Date        '2020/12/01'
Pulse                110
Maxpulse             130
Calories           409.1
Name: 0, dtype: object
   Duration          Date  Pulse  Maxpulse  Calories
0        60  '2020/12/01'    110       130     409.1
1        60  '2020/12/02'    117       145     479.0
'2020/12/03'

In [81]:
# Modifying the cols(Basically database stuff type)
df['modifiedCalories'] = df['Calories']+10
# df.rename(columns = {'Maxpulse = newMaxPulse'}, inplace = True) # if any row is empty for this col this will give error
df.head(7)
df.drop(columns=['modifiedCalories'], inplace=True)      # Drop column
df.head(7)

   Duration          Date  Pulse  Maxpulse  Calories
0        60  '2020/12/01'    110       130     409.1
1        60  '2020/12/02'    117       145     479.0
2        60  '2020/12/03'    103       135     340.0
3        45  '2020/12/04'    109       175     282.4
4        45  '2020/12/05'    117       148     406.0
5        60  '2020/12/06'    102       127     300.0
6        60  '2020/12/07'    110       136     374.0

In [82]:
# Handling Null columns
df.isnull()
df.dropna(inplace = True)
df.fillna(0, inplace=True)     # Fill NaN with 0
df.fillna(df['Pulse'].mean())    # Fill with mean

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

Let's deeply explore how `df.groupby('Gender')['Age'].sum()` works **internally in Pandas**, step by step.

---

## üß† Goal of the Command

```python
df.groupby('Gender')['Age'].sum()
```

You‚Äôre asking Pandas to:

1. Group the rows of the DataFrame by unique values in the `'Gender'` column.
2. For each group, select the `'Age'` column.
3. Sum the `'Age'` values within each group.

---

### üß© Let's break it down in detail:

Assume this DataFrame:

```python
import pandas as pd

df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [25, 30, 35, 40, 45],
    'Gender': ['F', 'M', 'M', 'M', 'F']
})
```

#### ‚úÖ Step 1: `df.groupby('Gender')`

* Pandas scans the `Gender` column and finds unique groups: `'F'` and `'M'`
* It internally **splits** the DataFrame into subgroups:

```python
Group 'F':
    Name   Age Gender
    Alice   25     F
    Eva     45     F

Group 'M':
    Name    Age Gender
    Bob      30     M
    Charlie  35     M
    David    40     M
```

These groups are stored in an efficient structure behind the scenes using **hash tables** for fast lookup.

---

#### ‚úÖ Step 2: `['Age']`

* You‚Äôre selecting only the `'Age'` column from each group.

Now you‚Äôre working with:

```python
Group 'F': [25, 45]
Group 'M': [30, 35, 40]
```

---

#### ‚úÖ Step 3: `.sum()`

* Now it **aggregates** (reduces) each group by summing the values:

```python
'F': 25 + 45 = 70
'M': 30 + 35 + 40 = 105
```

---

### ‚úÖ Final Output:

```python
Gender
F     70
M    105
Name: Age, dtype: int64
```

---

## ‚öôÔ∏è Internal Components Used by Pandas

| Internals                  | Role                                                              |
| -------------------------- | ----------------------------------------------------------------- |
| **GroupBy Engine**         | Efficiently groups rows using hashing                             |
| **Split-Apply-Combine**    | A common strategy: split the data, apply a function, then combine |
| **Vectorized Aggregation** | Summation happens with fast, C-backed NumPy vectorized operations |

---

### ‚úÖ Use Cases

* Aggregating sales by category
* Counting users by location
* Calculating average scores by class or gender

In [83]:
# groupby clause
print(df.groupby('Duration').mean()) # returns mean of all numerical columns grouped by duration
print(df.groupby('Duration')['Calories', 'Pulse'].sum()) # returns the sum of calories in each group
df['Pulse'].value_counts()              # Count unique values

               Pulse    Maxpulse   Calories
Duration
30        109.000000  133.000000  195.10000
45        107.000000  145.000000  294.35000
60        103.391304  126.173913  314.46087
450       104.000000  134.000000  253.30000
          Calories  Pulse
Duration
30           195.1    109
45          1177.4    428
60          7232.6   2378
450          253.3    104

/var/folders/vl/5hbg272x2b53sdq2n610ysz00000gp/T/ipykernel_94621/3507123234.py:3: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  print(df.groupby('Duration')['Calories', 'Pulse'].sum()) # returns the sum of calories in each group

100    5
103    3
102    3
98     3
110    2
117    2
109    2
104    2
92     2
106    1
97     1
108    1
130    1
105    1
Name: Pulse, dtype: int64

In [84]:
# sorting
print(df.sort_values(by='Calories'))                       # Ascending
print(df.sort_values(by='Calories', ascending=False))      # Descending
print(df.reset_index(drop=True, inplace=True))        # Reset index

    Duration          Date  Pulse  Maxpulse  Calories
8         30  '2020/12/09'    109       133     195.1
16        60  '2020/12/16'     98       120     215.2
27        60  '2020/12/27'     92       118     241.0
31        60  '2020/12/31'     92       115     243.0
20        45  '2020/12/20'     97       125     243.0
24        45  '2020/12/24'    105       132     246.0
26        60      20201226    100       120     250.0
12        60  '2020/12/12'    100       120     250.7
11        60  '2020/12/12'    100       120     250.7
7        450  '2020/12/08'    104       134     253.3
9         60  '2020/12/10'     98       124     269.0
15        60  '2020/12/15'     98       123     275.0
29        60  '2020/12/29'    100       132     280.0
3         45  '2020/12/04'    109       175     282.4
5         60  '2020/12/06'    102       127     300.0
17        60  '2020/12/17'    100       120     300.0
23        60  '2020/12/23'    130       101     300.0
19        60  '2020/12/19'    103       123     323.0
10        60  '2020/12/11'    103       147     329.3
25        60  '2020/12/25'    102       126     334.5
2         60  '2020/12/03'    103       135     340.0
13        60  '2020/12/13'    106       128     345.3
21        60  '2020/12/21'    108       131     364.2
6         60  '2020/12/07'    110       136     374.0
14        60  '2020/12/14'    104       132     379.3
30        60  '2020/12/30'    102       129     380.3
4         45  '2020/12/05'    117       148     406.0
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
    Duration          Date  Pulse  Maxpulse  Calories
1         60  '2020/12/02'    117       145     479.0
0         60  '2020/12/01'    110       130     409.1
4         45  '2020/12/05'    117       148     406.0
30        60  '2020/12/30'    102       129     380.3
14        60  '2020/12/14'    104       132     379.3
6         60  '2020/12/07'    110       136     374.0
21        60  '2020/12/21'    108       131     364.2
13        60  '2020/12/13'    106       128     345.3
2         60  '2020/12/03'    103       135     340.0
25        60  '2020/12/25'    102       126     334.5
10        60  '2020/12/11'    103       147     329.3
19        60  '2020/12/19'    103       123     323.0
5         60  '2020/12/06'    102       127     300.0
23        60  '2020/12/23'    130       101     300.0
17        60  '2020/12/17'    100       120     300.0
3         45  '2020/12/04'    109       175     282.4
29        60  '2020/12/29'    100       132     280.0
15        60  '2020/12/15'     98       123     275.0
9         60  '2020/12/10'     98       124     269.0
7        450  '2020/12/08'    104       134     253.3
12        60  '2020/12/12'    100       120     250.7
11        60  '2020/12/12'    100       120     250.7
26        60      20201226    100       120     250.0
24        45  '2020/12/24'    105       132     246.0
20        45  '2020/12/20'     97       125     243.0
31        60  '2020/12/31'     92       115     243.0
27        60  '2020/12/27'     92       118     241.0
16        60  '2020/12/16'     98       120     215.2
8         30  '2020/12/09'    109       133     195.1
None

In [85]:
print(df[df['Duration'] == 60])                        # Simple condition
print(df[(df['Pulse'] > 100) & (df['Duration'] == 60)])   # Multiple conditions

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        60  '2020/12/19'    103       123     323.0
20        60  '2020/12/21'    108       131     364.2
21        60  '2020/12/23'    130       101     300.0
23        60  '2020/12/25'    102       126     334.5
24        60      20201226    100       120     250.0
25        60  '2020/12/27'     92       118     241.0
26        60  '2020/12/29'    100       132     280.0
27        60  '2020/12/30'    102       129     380.3
28        60  '2020/12/31'     92       115     243.0
    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
10        60  '2020/12/11'    103       147     329.3
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
18        60  '2020/12/19'    103       123     323.0
20        60  '2020/12/21'    108       131     364.2
21        60  '2020/12/23'    130       101     300.0
23        60  '2020/12/25'    102       126     334.5
27        60  '2020/12/30'    102       129     380.3

## üîπ What is One-Hot Encoding?

**One-Hot Encoding** converts **categorical values (like strings)** into **numerical vectors**, so ML models can understand them.

---

## üí° Why?

Machine Learning models **don‚Äôt understand text** like `'Delhi'`, `'Mumbai'`, `'Chennai'`, etc.
They need **numerical input**, but directly converting them to numbers like:

```
Delhi ‚Üí 1  
Mumbai ‚Üí 2  
Chennai ‚Üí 3
```

is dangerous because it introduces a **false sense of order** (like 3 > 1), which doesn‚Äôt actually exist.

---

## ‚úÖ One-Hot Encoding Fixes This

It creates a **new column for each category** and puts:

* `1` if the row belongs to that category
* `0` otherwise

---

### üß™ Example:

Original data:

| City   |
| ------ |
| Delhi  |
| Mumbai |
| Delhi  |

After One-Hot Encoding:

| Delhi | Mumbai |
| ----- | ------ |
| 1     | 0      |
| 0     | 1      |
| 1     | 0      |

Each row is now a **binary vector** indicating the presence of a category.

---

## üõ†Ô∏è Summary

| City   | Encoded Vector |
| ------ | -------------- |
| Delhi  | \[1, 0]        |
| Mumbai | \[0, 1]        |

This way, all cities are treated **equally**, without any numeric priority.

Let's break down the `pd.get_dummies()` function **in full detail**, especially this line:

```python
pd.get_dummies(df, columns=['City'])
```

---

## üîç Purpose of `get_dummies()`

`pd.get_dummies()` is a Pandas function used to perform **One-Hot Encoding**.

It:

* Converts **categorical column(s)** into **new binary columns (0 or 1)**
* Helps make categorical data usable for ML models

---

## üß™ Sample Input DataFrame

```python
import pandas as pd

df = pd.DataFrame({
    'City': ['Delhi', 'Mumbai', 'Delhi', 'Kolkata']
})
```

### üîΩ Output of `df`:

| City    |
| ------- |
| Delhi   |
| Mumbai  |
| Delhi   |
| Kolkata |

---

## üß† Code:

```python
pd.get_dummies(df, columns=['City'])
```

### üîç What Happens Internally:

1. It looks at all **unique values in `'City'`** ‚Üí `['Delhi', 'Mumbai', 'Kolkata']`
2. For each unique value, it creates a **new column** named:

   * `City_Delhi`
   * `City_Mumbai`
   * `City_Kolkata`
3. Fills them with:

   * `1` if the original row was that city
   * `0` otherwise

---

## ‚úÖ Final Output:

| City\_Delhi | City\_Mumbai | City\_Kolkata |
| ----------- | ------------ | ------------- |
| 1           | 0            | 0             |
| 0           | 1            | 0             |
| 1           | 0            | 0             |
| 0           | 0            | 1             |

Each row now has a **binary representation** of the city.

---

## üìå Syntax Breakdown

```python
pd.get_dummies(df, columns=['City'])
```

| Part               | Meaning                            |
| ------------------ | ---------------------------------- |
| `pd.get_dummies()` | Function to create dummy variables |
| `df`               | Input DataFrame                    |
| `columns=['City']` | Which column(s) to one-hot encode  |

---

## üõ† Optional Parameters

| Parameter            | Use                                                                    |
| -------------------- | ---------------------------------------------------------------------- |
| `drop_first=True`    | Drops one column to avoid multicollinearity (use in linear regression) |
| `prefix='YourLabel'` | Custom prefix for column names                                         |
| `dtype=int`          | Force output as integer 0/1 instead of bool                            |

### Example:

```python
pd.get_dummies(df, columns=['City'], drop_first=True, dtype=int)
```

---

## üß† When to Use:

* Before training ML models (SVM, Logistic Regression, etc.)
* On any non-numeric data like Gender, City, Category, etc.

In [86]:
import pandas as pd

df = pd.DataFrame({'City': ['Delhi', 'Mumbai', 'Delhi']})
encoded = pd.get_dummies(df, columns=['City'])

print(encoded)

   City_Delhi  City_Mumbai
0           1            0
1           0            1
2           1            0

In [96]:
df = pd.DataFrame({
    'Name':['Harsh', 'Akshit', 'Aparna', 'Khushal'],
    'Age':[21, 22, 21, 23],
    'Gender':['M', 'M', 'F', 'M'],
    'City':['HAN', 'GZB', 'HAN', 'JAL'],
    'Employed':[False, False, True, False]
})
df.to_csv('friendsData.csv', index = False) 
df['Gender'] = df['Gender'].map({'M':0,'F':1}) # Label encoding
df['Employed'] = df['Employed'].map({False:0, True:1})
print(df.groupby('City').value_counts())
print(df.groupby('Gender').value_counts())
print(df['Gender'].value_counts())
df = pd.get_dummies(df, columns = ['City']) # One-Hot Encoding
# print(encoded)
print(df)

City  Name     Age  Gender  Employed
GZB   Akshit   22   0       0           1
HAN   Aparna   21   1       1           1
      Harsh    21   0       0           1
JAL   Khushal  23   0       0           1
dtype: int64
Gender  Name     Age  City  Employed
0       Akshit   22   GZB   0           1
        Harsh    21   HAN   0           1
        Khushal  23   JAL   0           1
1       Aparna   21   HAN   1           1
dtype: int64
0    3
1    1
Name: Gender, dtype: int64
      Name  Age  Gender  Employed  City_GZB  City_HAN  City_JAL
0    Harsh   21       0         0         0         1         0
1   Akshit   22       0         0         1         0         0
2   Aparna   21       1         1         0         1         0
3  Khushal   23       0         0         0         0         1